In [22]:
import numpy as np
import pandas as pd
df = pd.read_excel('ABC - аналіз.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Клієнт   252 non-null    object
 1   Продажі  252 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.1+ KB

In [23]:
def new(old):
    new = old.split()[1]
    return new
df['Клієнт'] = df['Клієнт'].map(new)
df.head()

  Клієнт      Продажі
0      1  9167.330000
1     10   541.922500
2    100    56.889167
3    101    56.268333
4    102    54.719167

In [24]:
df = df.sort_values('Продажі', ascending = False)
df.head()

    Клієнт      Продажі
0        1  9167.330000
111      2  4784.777500
175      3  3521.777500
186      4  1143.916667
197      5  1107.697500

In [25]:
df.drop(0, axis = 0, inplace = True)
df.head()

    Клієнт      Продажі
111      2  4784.777500
175      3  3521.777500
186      4  1143.916667
197      5  1107.697500
208      6   902.543333

In [26]:
df['ЗагальніПродажі'] = df['Продажі'].sum()
df.head()

    Клієнт      Продажі  ЗагальніПродажі
111      2  4784.777500     35185.560833
175      3  3521.777500     35185.560833
186      4  1143.916667     35185.560833
197      5  1107.697500     35185.560833
208      6   902.543333     35185.560833

In [27]:
df['НакопиченаСума'] = df['Продажі'].cumsum()
df.head()

    Клієнт      Продажі  ЗагальніПродажі  НакопиченаСума
111      2  4784.777500     35185.560833     4784.777500
175      3  3521.777500     35185.560833     8306.555000
186      4  1143.916667     35185.560833     9450.471667
197      5  1107.697500     35185.560833    10558.169167
208      6   902.543333     35185.560833    11460.712500

In [28]:
df['ВідсотокABC'] = df['НакопиченаСума']/df['ЗагальніПродажі']*100
df.head()

    Клієнт      Продажі  ЗагальніПродажі  НакопиченаСума  ВідсотокABC
111      2  4784.777500     35185.560833     4784.777500    13.598696
175      3  3521.777500     35185.560833     8306.555000    23.607852
186      4  1143.916667     35185.560833     9450.471667    26.858949
197      5  1107.697500     35185.560833    10558.169167    30.007108
208      6   902.543333     35185.560833    11460.712500    32.572204

In [29]:
def group(perc):
    if perc <= 20:
        return 'A'
    elif perc > 20 and perc <=80:
        return 'B'
    else:
        return 'C'

df['ABC'] = df['ВідсотокABC'].map(group)
df.head()

    Клієнт      Продажі  ЗагальніПродажі  НакопиченаСума  ВідсотокABC ABC
111      2  4784.777500     35185.560833     4784.777500    13.598696   A
175      3  3521.777500     35185.560833     8306.555000    23.607852   B
186      4  1143.916667     35185.560833     9450.471667    26.858949   B
197      5  1107.697500     35185.560833    10558.169167    30.007108   B
208      6   902.543333     35185.560833    11460.712500    32.572204   B

In [53]:
df[df['Клієнт'] == '5'].loc[:, 'ABC'].values[0]

'B'

In [ ]:
from flask import Flask
app = Flask(__name__)

def parser(string):
    t = str(string)
    return t

@app.route('/<string>')
def model(string):
    print(string)
    t = parser(string)
    result = df[df['Клієнт'] == t].loc[:, 'ABC'].values[0]
    return f'Клієнт належить до групи {result}'

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [16/Feb/2021 20:04:45] "GET / HTTP/1.1" 404 -
[2021-02-16 20:04:45,432] ERROR in app: Exception on /favicon.ico [GET]
Traceback (most recent call last):
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-56-804656669028>", line 12, in model
    result = df[df['Клієнт'] == t].loc[:, 'ABC'].values[0]
IndexError: index 0 is out of bounds for axis 0 with size 0
127.0.0.1 - - [16/Feb/2021 20:04:45] "GET /favicon.ico HTTP/1.1" 500 -

favicon.ico

127.0.0.1 - - [16/Feb/2021 20:04:51] "GET /3 HTTP/1.1" 200 -
[2021-02-16 20:04:52,028] ERROR in app: Exception on /favicon.ico [GET]
Traceback (most recent call last):
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-56-804656669028>", line 12, in model
    result = df[df['Клієнт'] == t].loc[:, 'ABC'].values[0]
IndexError: index 0 is out of bounds for axis 0 with size 0
127.0.0.1 - - [16/Feb/2021 20:04:52] "GET /favicon.ico HTTP/1.1" 500 -

3
favicon.ico