In [24]:
import sqlite3

def result(sql_text):
    conn = sqlite3.connect('tysql.sqlite')
    curs = conn.cursor()
    ex = curs.execute(sql_text)
    return ex

print('Информация про данную БД:')  

sql_text = "SELECT * FROM sqlite_master"
row = result(sql_text).fetchall()
print(row)
conn.close()

Информация про данную БД:
[('table', 'Customers', 'Customers', 2, 'CREATE TABLE Customers\n(\n  cust_id      char(10)  NOT NULL ,\n  cust_name    char(50)  NOT NULL ,\n  cust_address char(50)  NULL ,\n  cust_city    char(50)  NULL ,\n  cust_state   char(5)   NULL ,\n  cust_zip     char(10)  NULL ,\n  cust_country char(50)  NULL ,\n  cust_contact char(50)  NULL ,\n  cust_email   char(255) NULL ,\n  PRIMARY KEY (cust_id)\n)'), ('index', 'sqlite_autoindex_Customers_1', 'Customers', 3, None), ('table', 'OrderItems', 'OrderItems', 4, 'CREATE TABLE OrderItems\n(\n  order_num  int          NOT NULL                      ,\n  order_item int          NOT NULL                      ,\n  prod_id    char(10)     NOT NULL                      ,\n  quantity   int          NOT NULL                      ,\n  item_price decimal(8,2) NOT NULL                      ,\n  PRIMARY KEY (order_num, order_item)                   ,\n  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,\n  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)\n)'), ('index', 'sqlite_autoindex_OrderItems_1', 'OrderItems', 5, None), ('table', 'Orders', 'Orders', 7, 'CREATE TABLE Orders\n(\n  order_num  int      NOT NULL ,\n  order_date datetime NOT NULL ,\n  cust_id    char(10) NOT NULL ,\n  PRIMARY KEY (order_num)      ,\n  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)\n)'), ('index', 'sqlite_autoindex_Orders_1', 'Orders', 9, None), ('table', 'Products', 'Products', 10, 'CREATE TABLE Products\n(\n  prod_id    char(10)      NOT NULL ,\n  vend_id    char(10)      NOT NULL ,\n  prod_name  char(255)     NOT NULL ,\n  prod_price decimal(8,2)  NOT NULL ,\n  prod_desc  text          NULL     ,\n  PRIMARY KEY (prod_id)             ,\n  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)\n)'), ('index', 'sqlite_autoindex_Products_1', 'Products', 11, None), ('table', 'Vendors', 'Vendors', 12, 'CREATE TABLE Vendors\n(\n  vend_id      char(10) NOT NULL ,\n  vend_name    char(50) NOT NULL ,\n  vend_address char(50) NULL     ,\n  vend_city    char(50) NULL     ,\n  vend_state   char(5)  NULL     ,\n  vend_zip     char(10) NULL     ,\n  vend_country char(50) NULL     ,\n  PRIMARY KEY (vend_id)\n)'), ('index', 'sqlite_autoindex_Vendors_1', 'Vendors', 13, None)]

In [58]:
sql_text = "SELECT name FROM sqlite_master WHERE type = 'table'"
print('Перечень всех таблиц:')
tables = result(sql_text).fetchall()
for el in tables:
    print(el[0])
conn.close()

Перечень всех таблиц:
Customers
OrderItems
Orders
Products
Vendors

In [59]:
tables = [t[0] for t in tables]

In [62]:
print('Схема БД:')
for t in tables:
    print (t)
    sql_text = "PRAGMA table_info(%s)" %t
    for row in result(sql_text).fetchall():
        print(row)
conn.close()

Схема БД:
Customers
(0, 'cust_id', 'char(10)', 1, None, 1)
(1, 'cust_name', 'char(50)', 1, None, 0)
(2, 'cust_address', 'char(50)', 0, None, 0)
(3, 'cust_city', 'char(50)', 0, None, 0)
(4, 'cust_state', 'char(5)', 0, None, 0)
(5, 'cust_zip', 'char(10)', 0, None, 0)
(6, 'cust_country', 'char(50)', 0, None, 0)
(7, 'cust_contact', 'char(50)', 0, None, 0)
(8, 'cust_email', 'char(255)', 0, None, 0)
OrderItems
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_item', 'int', 1, None, 2)
(2, 'prod_id', 'char(10)', 1, None, 0)
(3, 'quantity', 'int', 1, None, 0)
(4, 'item_price', 'decimal(8,2)', 1, None, 0)
Orders
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_date', 'datetime', 1, None, 0)
(2, 'cust_id', 'char(10)', 1, None, 0)
Products
(0, 'prod_id', 'char(10)', 1, None, 1)
(1, 'vend_id', 'char(10)', 1, None, 0)
(2, 'prod_name', 'char(255)', 1, None, 0)
(3, 'prod_price', 'decimal(8,2)', 1, None, 0)
(4, 'prod_desc', 'text', 0, None, 0)
Vendors
(0, 'vend_id', 'char(10)', 1, None, 1)
(1, 'vend_name', 'char(50)', 1, None, 0)
(2, 'vend_address', 'char(50)', 0, None, 0)
(3, 'vend_city', 'char(50)', 0, None, 0)
(4, 'vend_state', 'char(5)', 0, None, 0)
(5, 'vend_zip', 'char(10)', 0, None, 0)
(6, 'vend_country', 'char(50)', 0, None, 0)

In [75]:
print('Информация про ключи:')
sql_text = "SELECT sql FROM sqlite_master WHERE tbl_name = ? AND type = 'table'"
for t in tables:
    conn = sqlite3.connect('tysql.sqlite')
    curs = conn.cursor()
    data = curs.execute(sql_text, (t,)).fetchall()[0][0]
    keys = data[data.find('PRIMARY KEY'):].rstrip(')')
    print(t)
    print(keys)

Информация про ключи:
Customers
PRIMARY KEY (cust_id)

OrderItems
PRIMARY KEY (order_num, order_item)                   ,
  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,
  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)

Orders
PRIMARY KEY (order_num)      ,
  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)

Products
PRIMARY KEY (prod_id)             ,
  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)

Vendors
PRIMARY KEY (vend_id)

In [78]:
conn = sqlite3.connect('tysql.sqlite') # Еще способ вытащить названия столбцов
conn.row_factory = sqlite3.Row
curs = conn.cursor()
print('Столбцы таблицы OrderItems:')
curs.execute('select * from OrderItems')
row = curs.fetchone()
print(row.keys())
conn.close()

Столбцы таблицы OrderItems:
['order_num', 'order_item', 'prod_id', 'quantity', 'item_price']

In [79]:
def result2(sql_text):
    conn = sqlite3.connect('tysql.sqlite')
    curs = conn.cursor()
    curs.execute(sql_text)
    for row in curs.fetchall():
        print(row)

In [83]:
# 1.1
sql_text = 'SELECT cust_id FROM Customers'
print('Список всех cust_id из таблицы Customers:')
result2(sql_text)

Список всех cust_id из таблицы Customers:
('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [84]:
# 1.2
sql_text = 'SELECT * FROM Customers'
print('Вся таблица Customers:')
result2(sql_text)

Вся таблица Customers:
('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [88]:
# 1.3
sql_text = """SELECT cust_name
              FROM Customers
              ORDER BY cust_name DESC"""
print('Список клиентов, отсортированных от Z до А:')
result2(sql_text)

Список клиентов, отсортированных от Z до А:
('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

In [100]:
# 1.4
sql_text = """ SELECT cust_id, order_num
               FROM Orders
               ORDER BY cust_id, order_date
"""
print('Таблица клиентов и заказов, отсортированных по клиенту и дате:')
result2(sql_text)

Таблица клиентов и заказов, отсортированных по клиенту и дате:
('1000000001', 20009)
('1000000001', 20005)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)

In [102]:
# 1.5
sql_text = """ SELECT quantity, item_price
               FROM OrderItems
               ORDER BY quantity DESC, item_price DESC
"""
print('Таблица с количеством и стоимостью товаров, отсорт. по убыванию:')
result2(sql_text)

Таблица с количеством и стоимостью товаров, отсорт. по убыванию:
(250, 2.49)
(250, 2.49)
(250, 2.49)
(100, 10.99)
(100, 5.49)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 11.99)
(10, 8.99)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(5, 11.99)
(5, 4.99)

In [104]:
# 1.6
sql_text = """ SELECT prod_id, prod_name, prod_price
               FROM Products
               WHERE prod_price = 9.49
"""
print('Товары, цена которых составляет 9.49:')
result2(sql_text)

Товары, цена которых составляет 9.49:
('RYL01', 'King doll', 9.49)
('RYL02', 'Queen doll', 9.49)

In [109]:
# 1.7
sql_text = """ SELECT prod_name, prod_price
               FROM Products
               WHERE prod_price BETWEEN 3 AND 6
               ORDER BY prod_price
"""
print('Название товаров и цены из диапазона от 3 до 6, отсортировано по цене по возрастанию:')
result2(sql_text)

Название товаров и цены из диапазона от 3 до 6, отсортировано по цене по возрастанию:
('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

In [112]:
# 2.1
sql_text = """ SELECT prod_id, SUM(quantity)
               FROM OrderItems
               GROUP BY quantity
"""
print('Количество товара, которое было продано по группам:')
result2(sql_text)

Количество товара, которое было продано по группам:
('RGAN01', 10)
('BR02', 50)
('BR01', 20)
('BR03', 100)
('BR01', 500)
('BNBG01', 750)

In [113]:
# 2.1
sql_text = """ SELECT SUM(quantity)
               FROM OrderItems
"""
print('Количество товара, которое было продано всего:')
result2(sql_text)

Количество товара, которое было продано всего:
(1430,)

In [118]:
# 2.2
sql_text = """ SELECT COUNT()
               FROM Products
               WHERE prod_price > 4
"""
print('Количество наименований товара, цена которого больше 4:')
result2(sql_text)

Количество наименований товара, цена которого больше 4:
(6,)

In [123]:
# 2.3 
sql_text = """ SELECT prod_name, prod_price
               FROM Products
               WHERE prod_price IN (SELECT prod_price
                                    FROM Products
                                    ORDER BY prod_price DESC
                                    LIMIT 3)
"""
print('ТОП 3 самых дорогих товара:')
result2(sql_text)

ТОП 3 самых дорогих товара:
('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

In [128]:
# 2.4
sql_text = """ SELECT cust_id, COUNT()
               FROM (SELECT cust_id
                     FROM Orders)
               GROUP BY cust_id
"""
print('Количество заказов для каждого клиента с исп. подзапроса:')
result2(sql_text)

Количество заказов для каждого клиента:
('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [130]:
# 2.5
sql_text = """ SELECT cust_name, order_num
               FROM Orders
               JOIN Customers ON Orders.cust_id = Customers.cust_id

"""
print('Список клиентов и их заказов с исп. JOIN:')
result2(sql_text)

Список клиентов и их заказов с исп. JOIN:
('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

In [131]:
# 2.6
sql_text = """ SELECT prod_name, prod_price
               FROM Products
               WHERE prod_price < 5
               UNION
               SELECT prod_name, prod_price
               FROM Products
               WHERE prod_price >= 5

"""
print('Два объединенных списка товаров: с ценой < 5 и >= 5')
result2(sql_text)

Два объединенных списка товаров: с ценой <5 и >=5
('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('8 inch teddy bear', 5.99)
('Bird bean bag toy', 3.49)
('Fish bean bag toy', 3.49)
('King doll', 9.49)
('Queen doll', 9.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)